   body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
.kbtn,
input,
textarea,
th,
td,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    color: #000;
}

html,
body {
    height: 100%;
}

body,
.kbtn,
input,
select,
textarea {
    /*font-size: 12px;*/
    /*定义字体 */
    font-family: "微软雅黑";
}

ul,
ol,
li,
dl,
dd,
dt {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

legend {
    color: #000;
}

img {
    border: 0;
}


/*解决IE图片缩放失真*/

img {
    -ms-interpolation-mode: bicubic;
}
@media only screen and (min-width:1024px) and (max-width:1439px) {
.mian-img-shou{
    	width: 100%;
    	height:303px;
    	text-align: center;
    	background:url(../img/footer-img/searchbg.png) no-repeat;
    }
    .mian-img-shou>p:nth-child(1){
    	padding-top:3%;
    	font-family: "微软雅黑";
    	font-size:30px;
    	color:white;
    }
    .mian-img-shou>p:nth-child(2){
    	font-family: "微软雅黑";
    	font-size:30px;
    	color:white;
    	padding-top:1%;
    }
    .mina-shou-suoji{
    	width:100%;
    	height:137px;	
    }
    .mina-shou-suoji>input{
    	width:300px;
    	height:43px;
    	background: white;
    	border-radius: 4px;
    	outline: none;
    	color:darkgray;
    	padding-left:1%;
    	font-size: 14px;
    	margin-top:3%;
    	
    }
     .mina-shou-suoji>a{
     	display:inline-block;
     	text-decoration: none;
     	color:white;
     	width:148px;
     	height:43px;
     	background:#c31b26;
     	margin-left:1%;
     	border-radius: 4px;
     	line-height:43px ;
     	vertical-align: middle;
     }
    .mian-buttom{
    	width:100%;
    	height:307px;
    	background: white;
    }
    .mian-bu-left{
    	width:50%;
    	height:307px;
    	
    	float:left;
    	
    }
    .mian-bu-left>div{
    	margin-top:10%;
   margin-left:20%;
   font-size:20px;
   font-family: "微软雅黑";
    }
    .mian-bu-left>ul{
    	margin-top:2%;
    	margin-left:20%;
    	
    }
    .mian-bu-left>ul>li{
    	line-height: 45px;
    }
     .mian-bu-left>ul>li>span{
     	font-size:14px;
     	font-family: "微软雅黑";
     	padding-left:1%;
     }
     .mian-bu-left>ul>li>span:nth-child(2){
     	color:#de4f54;
     }
    .mian-bu-right{
    	width:50%;
    	height:307px;
    	
    	float:right;
    }
     .mian-bu-right>ul{
     	margin-top:10%;
     }
    .mian-bu-right>ul>li{
    	float:left;
    	margin-left:10%;
    }
    .mian-bu-right>ul>li>span{
    	display:block;
    	font-size:14px;
    	margin-bottom: 10%;
    }
    .mian-bu-right>ul>li>ul>li{
    	line-height: 25px;
    }
   .mian-bu-right>ul>li>ul>li>a{
   	text-decoration: none;
   	font-size:14px;
   	color:#a0a0a0;
   }



  footer{
   	width:100%;
   	height:156px;
   	background:#666666;
   }
    footer>.foot-box{
    	height:105px;
    	background: ;
    }
     footer>.foot-box>.foot-font{
     	float:left;
     	height:105px;
     	width:10%;
     	background:#666666;
     	line-height: 105px;
     	text-align: center;
     }
   footer>.foot-box>ul{
   	float:left;
   	height:105px;
   	background:#666666;
   	width:80%;
   	padding-top:2%;
   	box-sizing: border-box;
   	border-bottom: 1px solid white;
   }
   footer>.foot-box>ul>li{
   	float:left;
   	line-height: 25px;
   	margin-left:2%;
   }
   footer>.foot-box>ul>li>a{
   	color:white;
   	text-decoration:none ;
   	font-size:14px;
   }
   footer>.foot-span{
   	background:#666666;
   	height:52px;
   	line-height:52px;
   	text-align: center;
   	color:white;
   	font-size:14px;
   	font-family: "微软雅黑";
   	
   }
  footer>.foot-span>span{
  	padding-left:2%;
  }
   
/*结束*/	
	
	
}
 